[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "3.7.7"
pylint = "2.3.1"

[packages]
pyyaml = "5.1.0"
pyaml = "19.4.1"

[requires]
python_version = "3.6"
